In [166]:
# Import all modules
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.

In [146]:
#Connecting to driver

driver=webdriver.Chrome(r"chromedriver.exe")

In [147]:
# 1. First get the webpage https://www.shine.com

driver.get("https://www.shine.com/")

In [148]:
# 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.

designation=driver.find_element(By.CLASS_NAME,"form-control")
designation.send_keys('Data Analyst')

In [149]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [150]:
# 3. Then click the searchbutton.

search=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [151]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [152]:
# Scraping job title from the given page

title_tags=driver.find_elements(By.XPATH,"//h2[@itemprop='name']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# Scraping job location from the given page

location_tags=driver.find_elements(By.XPATH,"//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

# Scraping experience needed from the given page

exp_tags=driver.find_elements(By.XPATH,"//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t']")
for i in exp_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

# Scraping company name from the given page

company_tags=driver.find_elements(By.XPATH,"//div[@class='jobCard_jobCard_cName__mYnow']")
for i in company_tags[0:10]:
    name=i.text
    company_name.append(name)

print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [153]:
df = pd.DataFrame({'Job Title': job_title, 'Job Location': job_location,'Company Name':company_name,'Experience Required':experience_required})
df

,Job Title,Job Location,Company Name,Experience Required
0,Data Analyst,Bangalore,acme services private limited,2 to 5 Yrs
1,Data Analyst,Bangalore,acme services private limited,2 to 5 Yrs
2,Data Analyst,Bangalore\n+1,orcapod consulting services pvt. lt...,2 to 4 Yrs
3,We have requirement for Data Analyst - Associa...,Bangalore,pricewaterhousecoopers (pwc),4 to 6 Yrs
4,Data Analyst-Bangalore,Bangalore\n+1,acura solutions.,4 to 6 Yrs
5,Cloud/D&A/Microsoft/AI - Data Analyst,Bangalore,vega intellisoft private limited,4 to 8 Yrs
6,Endurance Data Analyst,Bangalore,mercede,1 to 5 Yrs
7,Consultant - Data Analyst - Data Analytics,Bangalore,pylon management consulting,4 to 5 Yrs
8,We have requirement for Client Data Analyst,Bangalore,jpmorgan,5 to 8 Yrs
9,Urgent Requirement for Reference Data Analyst ...,Bangalore,jpmorgan,2 to 4 Yrs

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [57]:
#Connecting to driver

driver=webdriver.Chrome(r"chromedriver.exe")

In [58]:
# 1. First get the webpage https://www.shine.com

driver.get("https://www.shine.com/")

In [59]:
# 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.

designation=driver.find_element(By.CLASS_NAME,"form-control")
designation.send_keys('Data Scientist')

In [60]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [61]:
# 3. Then click the searchbutton.

search=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [70]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [71]:
# Scraping job title from the given page

title_tags=driver.find_elements(By.XPATH,"//h2[@itemprop='name']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

print(len(job_title))
job_title

10

['Hiring For Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - (BERT, NLP), Kubeflow (or) ML Ops',
 'Data Scientist Senior',
 'BGSW Sr Data Scientist Template',
 'Urgent applicants for Data Scientist for Battery Domain',
 'Data Scientist Architect',
 'CCB - Risk Data Scientist - Senior Associate',
 'Sr Data scientist']

In [74]:
# Scraping job location from the given page

location_tags=driver.find_elements(By.XPATH,"//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
print(len(job_location))
job_location

10

['Bangalore\n+15',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+7',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore']

In [76]:
# Scraping experience needed from the given page

exp_tags=driver.find_elements(By.XPATH,"//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t']")
for i in exp_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

print(len(experience_required))
experience_required

10

['0 to 4 Yrs',
 '3 to 8 Yrs',
 '3 to 8 Yrs',
 '1 to 5 Yrs',
 '3 to 6 Yrs',
 '4 to 9 Yrs',
 '4 to 6 Yrs',
 '5 to 10 Yrs',
 '3 to 8 Yrs',
 '4 to 5 Yrs']

In [77]:
# Scraping company name from the given page

company_tags=driver.find_elements(By.XPATH,"//div[@class='jobCard_jobCard_cName__mYnow']")
for i in company_tags[0:10]:
    name=i.text
    company_name.append(name)
    
print(len(company_name))
company_name

10

['niharika enterprises',
 'acme services private limited',
 'acme services private limited',
 'gfl recruitment private limited',
 'fidelity national information servi...',
 'bosch group',
 'bosch group',
 'fidelity national information servi...',
 'jpmorgan',
 'schneider electric']

In [78]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [79]:
df = pd.DataFrame({'Job Title': job_title, 'Job Location': job_location,'Company Name':company_name,'Experience Required':experience_required})
df

,Job Title,Job Location,Company Name,Experience Required
0,Hiring For Data Scientist,Bangalore\n+15,niharika enterprises,0 to 4 Yrs
1,Data Scientist,Bangalore,acme services private limited,3 to 8 Yrs
2,Data Scientist,Bangalore,acme services private limited,3 to 8 Yrs
3,"Data Scientist - (BERT, NLP), Kubeflow (or) ML...",Bangalore\n+7,gfl recruitment private limited,1 to 5 Yrs
4,Data Scientist Senior,Bangalore,fidelity national information servi...,3 to 6 Yrs
5,BGSW Sr Data Scientist Template,Bangalore,bosch group,4 to 9 Yrs
6,Urgent applicants for Data Scientist for Batte...,Bangalore,bosch group,4 to 6 Yrs
7,Data Scientist Architect,Bangalore,fidelity national information servi...,5 to 10 Yrs
8,CCB - Risk Data Scientist - Senior Associate,Bangalore,jpmorgan,3 to 8 Yrs
9,Sr Data scientist,Bangalore,schneider electric,4 to 5 Yrs

### Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:

In [94]:
#Connecting to driver

driver=webdriver.Chrome(r"chromedriver.exe")

In [95]:
# 1. first get thewebpage https://www.shine.com/

driver.get("https://www.shine.com/")

In [96]:
# 2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.

designation=driver.find_element(By.CLASS_NAME,"form-control")
designation.send_keys('Data Scientist')

In [98]:
# 3. Then click the searchbutton.

search=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [100]:
# 4. Then apply the location filter and salary filter by checking the respective boxes

# Clicking on location filter

locfil=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div/ul/li[1]/button")
locfil.click()

In [101]:
# Selecting Delhi

del_fil=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[8]/span/label")
del_fil.click()

In [102]:
# Clicking on location filter

salfil=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/ul/li[3]")
salfil.click()

In [103]:
# Selecting 3 to 5 lakhs

sal_fil=driver.find_element(By.XPATH,"//html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label")
sal_fil.click()

In [104]:
# Show results click
results=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]")
results.click()

In [105]:
# 5. Then scrape the data for the first 10 jobs results youget.

job_title=[]
job_location=[]
company_name=[]
experience_required=[]

# Scraping job title from the given page

title_tags=driver.find_elements(By.XPATH,"//h2[@itemprop='name']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# Scraping job location from the given page

location_tags=driver.find_elements(By.XPATH,"//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# Scraping experience needed from the given page

exp_tags=driver.find_elements(By.XPATH,"//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t']")
for i in exp_tags[0:10]:
    exp=i.text
    experience_required.append(exp)
    
# Scraping company name from the given page

company_tags=driver.find_elements(By.XPATH,"//div[@class='jobCard_jobCard_cName__mYnow']")
for i in company_tags[0:10]:
    name=i.text
    company_name.append(name)
    
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [106]:
# 6. Finally create a dataframe of the scrapeddata.

df = pd.DataFrame({'Job Title': job_title, 'Job Location': job_location,'Company Name':company_name,'Experience Required':experience_required})
df

,Job Title,Job Location,Company Name,Experience Required
0,Req. For Data Scientist -Reputed Data Analytic...,Delhi,seven consultancy,2 to 6 Yrs
1,For Senior Data Scientist-Reputed IT Industry,Delhi,seven consultancy,4 to 8 Yrs
2,Req. now Data Scientist,Delhi,seven consultancy,3 to 5 Yrs
3,Req. post for Junior AI Data Scientist-Reputed...,Delhi,seven consultancy,1 to 3 Yrs
4,Data Scientist,Delhi\n+6,quiscon biotech,0 to 1 Yr
5,Data Scientist,Delhi\n+6,quiscon biotech,0 to 3 Yrs
6,Data Scientist,Delhi,srinsoft technologies,3 to 5 Yrs
7,Sr Data Scientist,Delhi,target corporation india pvt ltd,1 to 4 Yrs
8,Mahindra Comviva - Data Scientist,Delhi\n+2,comviva,2 to 5 Yrs
9,Data Scientist,Delhi,skyleaf consultants,3 to 6 Yrs

### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price

In [182]:
#Connecting to driver

driver=webdriver.Chrome(r"chromedriver.exe")

In [183]:
# 1. Go to Flipkart webpage by url :https://www.flipkart.com/

driver.get("https://www.flipkart.com/")

In [184]:
# 2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon

pdt=driver.find_element(By.CLASS_NAME,"_3704LK")
pdt.send_keys('Sun Glasses')

In [186]:
# 3. Then click the searchbutton.

search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [187]:
brand=[]
pdt_des=[]
price=[]
offer=[]

In [188]:
# Scraping brand from the given page


brand_tags=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
for i in brand_tags[0:40]:
    name=i.text
    brand.append(name)

# Scraping product description from the given page
pdt_tags=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
for i in pdt_tags[0:40]:
    pdt=i.text
    pdt_des.append(pdt)

# Scraping price from the given page
price_tags=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
for i in price_tags[0:40]:
    p=i.text
    price.append(p)

# Scraping offer from the given page
offer_tags=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
for i in offer_tags[0:40]:
    o=i.text
    offer.append(o)

print(len(brand),len(price),len(offer),len(pdt_des)) # Product description has different length as 2 of the items in the website has differetn xpath

40 40 40 38

In [173]:
# Unable to use product description as it has different length

In [189]:
# 4. clicking on next page

nxt=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
nxt.click()

In [190]:
# Scraping brand from the given page

brand_tags=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
for i in brand_tags[0:40]:
    name=i.text
    brand.append(name)


# Scraping price from the given page
price_tags=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
for i in price_tags[0:40]:
    p=i.text
    price.append(p)

# Scraping offer from the given page
offer_tags=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
for i in offer_tags[0:40]:
    o=i.text
    offer.append(o)

print(len(brand),len(price),len(offer))

80 80 80

In [191]:
# clicking on next page

nxt=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
nxt.click()

In [192]:
brand_tags=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
for i in brand_tags[0:20]:
    name=i.text
    brand.append(name)


# Scraping price from the given page
price_tags=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
for i in price_tags[0:20]:
    p=i.text
    price.append(p)

# Scraping offer from the given page
offer_tags=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
for i in offer_tags[0:20]:
    o=i.text
    offer.append(o)

print(len(brand),len(price),len(offer))

100 100 100

In [193]:
# 6. Finally create a dataframe of the scrapeddata.

df = pd.DataFrame({'Brand': brand, 'Price': price,'Offer':offer})
df

             Brand Price    Offer
0    VINCENT CHASE  ₹962  51% off
1    VINCENT CHASE  ₹965  51% off
2             SRPM  ₹216  83% off
3        Elligator  ₹213  64% off
4         Fastrack  ₹499  44% off
..             ...   ...      ...
95  ROZZETTA CRAFT  ₹629  75% off
96  ROZZETTA CRAFT  ₹423  78% off
97   VINCENT CHASE  ₹779  61% off
98          SUNBEE  ₹195  80% off
99   VINCENT CHASE  ₹642  67% off

[100 rows x 3 columns]

### Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART

As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [257]:
#Connecting to driver

driver=webdriver.Chrome(r"chromedriver.exe")

In [258]:
# Weblink in the question is invalid, so using a different link
driver.get("https://www.flipkart.com/apple-iphone-14-midnight-128-gb/product-reviews/itm9e6293c322a84?pid=MOBGHWFHECFVMDCX&lid=LSTMOBGHWFHECFVMDCXBOYSND&marketplace=FLIPKART")

In [259]:
ratings=[]
rev_sum=[]
full_rev=[]

In [260]:
# Scraping rating from the given page

rating_tags=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags[0:10]:
    rating=i.text
    ratings.append(rating)


# Scraping review summary from the given page
rev_tags=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
for i in rev_tags[0:20]:
    rev=i.text
    rev_sum.append(rev)

# Scraping full review from the given page
frev_tags=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
for i in frev_tags[0:20]:
    revs=i.text
    full_rev.append(revs)

print(len(ratings),len(rev_sum),len(full_rev))

10 10 10

In [261]:
# clicking on next page

nxt=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
nxt.click()

In [262]:
# Scraping rating from the given page

rating_tags=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags[0:10]:
    rating=i.text
    ratings.append(rating)


# Scraping review summary from the given page
rev_tags=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
for i in rev_tags[0:20]:
    rev=i.text
    rev_sum.append(rev)

# Scraping full review from the given page
frev_tags=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
for i in frev_tags[0:20]:
    revs=i.text
    full_rev.append(revs)

print(len(ratings),len(rev_sum),len(full_rev))

20 20 20

In [263]:

# clicking on next page

nxt=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
nxt.click()

In [264]:
# Scraping rating from the given page

rating_tags=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags[0:10]:
    rating=i.text
    ratings.append(rating)


# Scraping review summary from the given page
rev_tags=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
for i in rev_tags[0:20]:
    rev=i.text
    rev_sum.append(rev)

# Scraping full review from the given page
frev_tags=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
for i in frev_tags[0:20]:
    revs=i.text
    full_rev.append(revs)

print(len(ratings),len(rev_sum),len(full_rev))

30 30 30

In [265]:
# clicking on next page

nxt=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
nxt.click()

In [266]:
# Scraping rating from the given page

rating_tags=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags[0:10]:
    rating=i.text
    ratings.append(rating)


# Scraping review summary from the given page
rev_tags=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
for i in rev_tags[0:20]:
    rev=i.text
    rev_sum.append(rev)

# Scraping full review from the given page
frev_tags=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
for i in frev_tags[0:20]:
    revs=i.text
    full_rev.append(revs)

print(len(ratings),len(rev_sum),len(full_rev))

40 40 40

In [267]:
# clicking on next page

nxt=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
nxt.click()

In [268]:

# Scraping rating from the given page

rating_tags=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags[0:10]:
    rating=i.text
    ratings.append(rating)


# Scraping review summary from the given page
rev_tags=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
for i in rev_tags[0:20]:
    rev=i.text
    rev_sum.append(rev)

# Scraping full review from the given page
frev_tags=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
for i in frev_tags[0:20]:
    revs=i.text
    full_rev.append(revs)

print(len(ratings),len(rev_sum),len(full_rev))

50 50 50

In [269]:
# clicking on next page

nxt=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
nxt.click()

In [270]:

# Scraping rating from the given page

rating_tags=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags[0:10]:
    rating=i.text
    ratings.append(rating)


# Scraping review summary from the given page
rev_tags=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
for i in rev_tags[0:20]:
    rev=i.text
    rev_sum.append(rev)

# Scraping full review from the given page
frev_tags=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
for i in frev_tags[0:20]:
    revs=i.text
    full_rev.append(revs)

print(len(ratings),len(rev_sum),len(full_rev))

60 60 60

In [271]:
# clicking on next page

nxt=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
nxt.click()

In [272]:

# Scraping rating from the given page

rating_tags=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags[0:10]:
    rating=i.text
    ratings.append(rating)


# Scraping review summary from the given page
rev_tags=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
for i in rev_tags[0:20]:
    rev=i.text
    rev_sum.append(rev)

# Scraping full review from the given page
frev_tags=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
for i in frev_tags[0:20]:
    revs=i.text
    full_rev.append(revs)

print(len(ratings),len(rev_sum),len(full_rev))

70 70 70

In [233]:
# clicking on next page

nxt=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
nxt.click()

In [234]:
# Scraping rating from the given page

rating_tags=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags[0:10]:
    rating=i.text
    ratings.append(rating)


# Scraping review summary from the given page
rev_tags=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
for i in rev_tags[0:20]:
    rev=i.text
    rev_sum.append(rev)

# Scraping full review from the given page
frev_tags=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
for i in frev_tags[0:20]:
    revs=i.text
    full_rev.append(revs)

print(len(ratings),len(rev_sum),len(full_rev))

79 80 80

In [235]:
# Unable to do till 100 as the length changes due to different xpath for 1 item

In [273]:
# 6. Finally create a dataframe of the scrapeddata.

df = pd.DataFrame({'Rating': ratings, 'Summary': rev_sum,'Full Review':full_rev})
df

,Rating,Summary,Full Review
0,5,Fabulous!,Best smart phone under this price range compar...
1,5,Great product,Damn such a great phone. Camera is really good...
2,5,Best in the market!,"Excellent smart phone, Good battery backup and..."
3,5,Must buy!,Just awesome!!\nI switch to iPhone 14 from iPh...
4,5,Classy product,Totally in love with my new iphone 14. Battery...
...,...,...,...
65,4,Really Nice,Nice look
66,5,Best in the market!,Best in class in all the aspects. Top notch pe...
67,5,Simply awesome,Best phone but same as Iphone 13. There is no ...
68,5,Fabulous!,It's a apple device .. that means you get the ...
69,4,Delightful,Thanks Flipkart for this all new iPhone withou...

### Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [274]:
#Connecting to driver

driver=webdriver.Chrome(r"chromedriver.exe")

In [275]:
# 1. Go to Flipkart webpage by url :https://www.flipkart.com/

driver.get("https://www.flipkart.com/")

In [276]:
# 2. Enter “sneakers” in the search field where “search for products, brands and more” is written and click the search icon

pdt=driver.find_element(By.CLASS_NAME,"_3704LK")
pdt.send_keys('sneakers')

In [277]:
# 3. Then click the searchbutton.

search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [278]:
brand=[]
pdt_des=[]
price=[]

# Scraping brand from the given page


brand_tags=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
for i in brand_tags[0:40]:
    name=i.text
    brand.append(name)

# Scraping product description from the given page
pdt_tags=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
for i in pdt_tags[0:40]:
    pdt=i.text
    pdt_des.append(pdt)

# Scraping price from the given page
price_tags=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
for i in price_tags[0:40]:
    p=i.text
    price.append(p)


print(len(brand),len(price),len(pdt_des))

40 40 40

In [280]:
# clicking on next page

nxt=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
nxt.click()

In [281]:
# Scraping brand from the given page


brand_tags=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
for i in brand_tags[0:40]:
    name=i.text
    brand.append(name)

# Scraping product description from the given page
pdt_tags=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
for i in pdt_tags[0:40]:
    pdt=i.text
    pdt_des.append(pdt)

# Scraping price from the given page
price_tags=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
for i in price_tags[0:40]:
    p=i.text
    price.append(p)


print(len(brand),len(price),len(pdt_des))

80 80 80

In [282]:
# clicking on next page

nxt=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
nxt.click()

In [283]:
# Scraping brand from the given page


brand_tags=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
for i in brand_tags[0:20]:
    name=i.text
    brand.append(name)

# Scraping product description from the given page
pdt_tags=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
for i in pdt_tags[0:20]:
    pdt=i.text
    pdt_des.append(pdt)

# Scraping price from the given page
price_tags=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
for i in price_tags[0:20]:
    p=i.text
    price.append(p)


print(len(brand),len(price),len(pdt_des))

100 100 100

In [284]:
# 4. Finally create a dataframe of the scrapeddata.

df = pd.DataFrame({'Brand': brand, 'Description': pdt_des,'Price':price})
df

         Brand                                        Description   Price
0     Magnolia  Modern Trendy Sneakers boot Sneakers Sneakers ...    ₹349
1          SFR  Mid-Top Combo Pack of 02 Pairs Lace-ups Traine...    ₹379
2        BIRDE      Combo Pack of 2 Casual Shoes Sneakers For Men    ₹479
3         aadi  Lightweight,Comfort,Summer,Trendy,Walking,Outd...    ₹249
4         PUMA                         Hustle V2 Sneakers For Men  ₹1,499
..         ...                                                ...     ...
95    RED TAPE                                   Sneakers For Men    ₹779
96    RapidBox                                   Sneakers For Men    ₹549
97      Footox  Sneaker for Mens | Casual Shoes | Men Shoes Sn...    ₹399
98  HIGHLANDER                                   Sneakers For Men    ₹597
99  HIGHLANDER                                   Sneakers For Men    ₹398

[100 rows x 3 columns]

### Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop: 1. Title
2. Ratings 3. Price

In [317]:
#Connecting to driver

driver=webdriver.Chrome(r"chromedriver.exe")

In [318]:
# Go to  https://www.amazon.in/ 

driver.get(" https://www.amazon.in/ ")

In [319]:
# Input Laptop in Search field

item=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
item.send_keys('Laptop')

In [320]:
# 3. Then click the searchbutton.

search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [321]:
# set CPU Type filter to “Intel Core i7”
cpu=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/span[9]/li/span/a/div/label/i")
cpu.click()

In [322]:
title=[]
ratings=[]
price=[]

In [323]:

# Scraping title from the given page


title_tags=driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")
for i in title_tags[0:10]:
    t=i.text
    title.append(t)

# Scraping product ratings from the given page
rating=driver.find_elements(By.XPATH,"//a[@class='a-popover-trigger a-declarative']")
for i in rating[0:10]:
    r=i.text
    ratings.append(r)

# Scraping price from the given page
price_tags=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in price_tags[0:10]:
    p=i.text
    price.append(p)


print(len(title),len(price),len(ratings))

10 10 10

In [324]:
# 4. Finally create a dataframe of the scrapeddata.

df = pd.DataFrame({'Tile': title, 'Ratings': ratings,'Price':price})
df

                                                Tile Ratings     Price
0  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...            98,990
1  ASUS TUF Gaming F15 (2023) 90WHr Battery, Inte...          1,15,990
2  HP Victus Gaming Latest 12th Gen Intel Core i7...            90,990
3  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...            84,999
4  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...            93,990
5  HP Envy x360 12th Gen Intel Core i7-13.3 inch(...          1,03,990
6  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...            79,990
7  Acer Predator Helios Neo 16 Gaming Laptop 13th...          1,49,990
8  ASUS Vivobook S15 OLED 2022, 15.6" 39.62 cms F...            84,990
9  ASUS TUF Gaming F15 (2022), 15.6"(39.62 cms) F...            93,990

### Q8: Write a python program to scrape data for Top 1000 Quotes of All Time. The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/ 
2. Click on Top Quotes
3. Then scrape a) Quote b)Author c) Type Of Quotes

In [382]:
#Connecting to driver

driver=webdriver.Chrome(r"chromedriver.exe")

In [383]:
# Go to  https://www.azquotes.com/

driver.get("https://www.azquotes.com/ ")

In [384]:


# 3. Then click Top Quotes.

top=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div/div[3]/ul/li[5]/a")
top.click()

In [385]:
quote=[]
author=[]
types=[]

In [ ]:
# Getting below error while trying to do multiple pages hence had to do page by page
start = 0
end = 10

# Scraping rating from the given page

for page in range(start,end):
    quote_tags=driver.find_elements(By.XPATH,"//a[@class='title']")
    for i in quote_tags[0:100]:
        q=i.text
        quote.append(q)

    
    next_button=driver.find_elements(By.XPATH,"/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[12]/a")
    next_button.click()
    time.sleep(3)
    
print(len(quote),len(author),len(types)) 
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
/var/folders/zw/zn7l3qn9205frr7dngvck9_40000gn/T/ipykernel_14067/1746834074.py in <module>
     12 
     13     next_button=driver.find_elements(By.XPATH,"/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[12]/a")
---> 14     next_button.click()
     15     time.sleep(3)
     16 

AttributeError: 'list' object has no attribute 'click'

In [386]:

# Scraping quote from the given page


quote_tags=driver.find_elements(By.XPATH,"//a[@class='title']")
for i in quote_tags[0:100]:
    q=i.text
    quote.append(q)

# Scraping author from the given page

author_tags=driver.find_elements(By.XPATH,"//div[@class='author']")
for i in author_tags[0:100]:
    a=i.text
    author.append(a)
    
# Scraping type of quote from the given page

type_tags=driver.find_elements(By.XPATH,"//div[@class='tags']")
for i in type_tags[0:100]:
    t=i.text
    types.append(t)
    
print(len(quote),len(author),len(types))

100 100 100

In [387]:
# clicking on next page

nxt=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[12]/a")
nxt.click()

In [388]:
# Scraping quote from the given page


quote_tags=driver.find_elements(By.XPATH,"//a[@class='title']")
for i in quote_tags[0:100]:
    q=i.text
    quote.append(q)

# Scraping author from the given page

author_tags=driver.find_elements(By.XPATH,"//div[@class='author']")
for i in author_tags[0:100]:
    a=i.text
    author.append(a)
    
# Scraping type of quote from the given page

type_tags=driver.find_elements(By.XPATH,"//div[@class='tags']")
for i in type_tags[0:100]:
    t=i.text
    types.append(t)
    
print(len(quote),len(author),len(types))

200 200 200

In [389]:
# clicking on next page

nxt=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[13]/a")
nxt.click()

In [390]:
# Scraping quote from the given page



quote_tags=driver.find_elements(By.XPATH,"//a[@class='title']")
for i in quote_tags[0:100]:
    q=i.text
    quote.append(q)

# Scraping author from the given page

author_tags=driver.find_elements(By.XPATH,"//div[@class='author']")
for i in author_tags[0:100]:
    a=i.text
    author.append(a)
    
# Scraping type of quote from the given page

type_tags=driver.find_elements(By.XPATH,"//div[@class='tags']")
for i in type_tags[0:100]:
    t=i.text
    types.append(t)
    
print(len(quote),len(author),len(types))

300 300 300

In [391]:
# clicking on next page

nxt=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[13]/a")
nxt.click()

In [392]:
# Scraping quote from the given page



quote_tags=driver.find_elements(By.XPATH,"//a[@class='title']")
for i in quote_tags[0:100]:
    q=i.text
    quote.append(q)

# Scraping author from the given page

author_tags=driver.find_elements(By.XPATH,"//div[@class='author']")
for i in author_tags[0:100]:
    a=i.text
    author.append(a)
    
# Scraping type of quote from the given page

type_tags=driver.find_elements(By.XPATH,"//div[@class='tags']")
for i in type_tags[0:100]:
    t=i.text
    types.append(t)
    
print(len(quote),len(author),len(types))

400 400 400

In [393]:
# clicking on next page

nxt=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[13]/a")
nxt.click()

In [394]:
# Scraping quote from the given page



quote_tags=driver.find_elements(By.XPATH,"//a[@class='title']")
for i in quote_tags[0:100]:
    q=i.text
    quote.append(q)

# Scraping author from the given page

author_tags=driver.find_elements(By.XPATH,"//div[@class='author']")
for i in author_tags[0:100]:
    a=i.text
    author.append(a)
    
# Scraping type of quote from the given page

type_tags=driver.find_elements(By.XPATH,"//div[@class='tags']")
for i in type_tags[0:100]:
    t=i.text
    types.append(t)
    
print(len(quote),len(author),len(types))

500 500 500

In [395]:
# clicking on next page

nxt=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[13]/a")
nxt.click()

In [396]:


quote_tags=driver.find_elements(By.XPATH,"//a[@class='title']")
for i in quote_tags[0:100]:
    q=i.text
    quote.append(q)

# Scraping author from the given page

author_tags=driver.find_elements(By.XPATH,"//div[@class='author']")
for i in author_tags[0:100]:
    a=i.text
    author.append(a)
    
# Scraping type of quote from the given page

type_tags=driver.find_elements(By.XPATH,"//div[@class='tags']")
for i in type_tags[0:100]:
    t=i.text
    types.append(t)
    
print(len(quote),len(author),len(types))

600 600 600

In [397]:
# clicking on next page

nxt=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[13]/a")
nxt.click()

In [398]:


quote_tags=driver.find_elements(By.XPATH,"//a[@class='title']")
for i in quote_tags[0:100]:
    q=i.text
    quote.append(q)

# Scraping author from the given page

author_tags=driver.find_elements(By.XPATH,"//div[@class='author']")
for i in author_tags[0:100]:
    a=i.text
    author.append(a)
    
# Scraping type of quote from the given page

type_tags=driver.find_elements(By.XPATH,"//div[@class='tags']")
for i in type_tags[0:100]:
    t=i.text
    types.append(t)
    
print(len(quote),len(author),len(types))

700 700 700

In [399]:
# clicking on next page

nxt=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[13]/a")
nxt.click()

In [400]:

quote_tags=driver.find_elements(By.XPATH,"//a[@class='title']")
for i in quote_tags[0:100]:
    q=i.text
    quote.append(q)

# Scraping author from the given page

author_tags=driver.find_elements(By.XPATH,"//div[@class='author']")
for i in author_tags[0:100]:
    a=i.text
    author.append(a)
    
# Scraping type of quote from the given page

type_tags=driver.find_elements(By.XPATH,"//div[@class='tags']")
for i in type_tags[0:100]:
    t=i.text
    types.append(t)
    
print(len(quote),len(author),len(types))

800 800 800

In [401]:
# clicking on next page

nxt=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[13]/a")
nxt.click()

In [402]:
quote_tags=driver.find_elements(By.XPATH,"//a[@class='title']")
for i in quote_tags[0:100]:
    q=i.text
    quote.append(q)

# Scraping author from the given page

author_tags=driver.find_elements(By.XPATH,"//div[@class='author']")
for i in author_tags[0:100]:
    a=i.text
    author.append(a)
    
# Scraping type of quote from the given page

type_tags=driver.find_elements(By.XPATH,"//div[@class='tags']")
for i in type_tags[0:100]:
    t=i.text
    types.append(t)
    
print(len(quote),len(author),len(types))

900 900 900

In [403]:
# clicking on next page

nxt=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[13]/a")
nxt.click()

In [404]:
quote_tags=driver.find_elements(By.XPATH,"//a[@class='title']")
for i in quote_tags[0:100]:
    q=i.text
    quote.append(q)

# Scraping author from the given page

author_tags=driver.find_elements(By.XPATH,"//div[@class='author']")
for i in author_tags[0:100]:
    a=i.text
    author.append(a)
    
# Scraping type of quote from the given page

type_tags=driver.find_elements(By.XPATH,"//div[@class='tags']")
for i in type_tags[0:100]:
    t=i.text
    types.append(t)
    
print(len(quote),len(author),len(types))

1000 1000 1000

In [405]:
# 4. Finally create a dataframe of the scrapeddata.

df = pd.DataFrame({'Quote': quote, 'Author': author,'Type':types})
df

,Quote,Author,Type
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

### Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.

In [430]:
from bs4 import BeautifulSoup
from selenium import webdriver

In [431]:
#Connecting to driver

driver=webdriver.Chrome(r"chromedriver.exe")

In [432]:
# 1. First get the webpagehttps://www.jagranjosh.com/

driver.get('https://www.jagranjosh.com/')

In [433]:
# 2. Then You have to click on the GK option

gk=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]/a")
gk.click()

In [434]:
# 3. Then click on the List of all Prime Ministers of India

pm=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
pm.click()

In [439]:
# 4. Then scrap the mentioned data and make theDataFrame.


# Get the page source
page_source = driver.page_source

# Create a BeautifulSoup object
soup = BeautifulSoup(page_source, "html.parser")

# Find the table element using appropriate selectors
table = soup.find("table")

# Extract the data from the table
data = []
ata = []
for idx, row in enumerate(table.find_all("tr")):
    if idx == 0:
        continue  # Skip the first row
    row_data = []
    for cell in row.find_all("td"):
        row_data.append(cell.text.strip())
    data.append(row_data)

    
headers = ["Sl.No","Name", "Born-Dead", "Term of Office", "Remarks"]
df = pd.DataFrame(data, columns=headers)
df

,Sl.No,Name,Born-Dead,Term of Office,Remarks
0,1.,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964 16 years, 286 days",The first prime minister of India and the long...
1,2.,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964, 13 days",First acting PM of India
2,3.,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966 1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,4.,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966 13 days,-
4,5.,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977 11 years, 59 ...",First female Prime Minister of India
5,6.,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,7.,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980 170 days,Only PM who did not face the Parliament
7,8.,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984 4 years, 29...",The first lady who served as PM for the second...
8,9.,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989 5 years, 32...",Youngest to become PM (40 years old)
9,10.,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990 343 days,First PM to step down after a vote of no confi...
10,11.,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991 223 days,He belongs to Samajwadi Janata Party
11,12.,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996 4 years, 330 days",First PM from South India
12,13.,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996 16 days,PM for shortest tenure
13,14.,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997 324 days,He belongs to Janata Dal
14,15.,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 332 days,------
15,16.,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 6 years, 64 days",The first non-congress PM who completed a full...
16,17.,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 10 years, 4 days",First Sikh PM
17,18.,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
18,19.,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

### Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:

In [410]:
#Connecting to driver

driver=webdriver.Chrome(r"chromedriver.exe")

In [411]:
# 1.Getting website https://www.motor1.com/

driver.get("https://www.motor1.com/")

In [414]:
# 2. Then You have to type in the search bar ’50 most expensive cars’ 

top50=driver.find_element(By.XPATH,"/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/input")
top50.send_keys("50 most expensive cars")

In [419]:
# 3. Then click the searchbutton.

search=driver.find_element(By.XPATH,"/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/button[1]")
search.click()

In [420]:
# 3. Then click on 50 most expensive cars in the world..

link=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a")
link.click()

In [423]:
# 4. Then scrap the mentioned data and make the dataframe.

name=[]
price=[]

name_tags=driver.find_elements(By.XPATH,"//h3[@class='subheader']")
for i in name_tags[0:50]:
    n=i.text
    name.append(n)

price_tags=driver.find_elements(By.XPATH,"/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[4]/strong")
for i in price_tags[0:50]:
    p=i.text
    price.append(p)
    
print(len(name),len(price))

50 1

In [425]:
df = pd.DataFrame({'Car': name})
df

                                Car
0                     De Tomaso P72
1                 Ferrari LaFerrari
2                     Pagani Huayra
3                      McLaren Elva
4                       Czinger 21C
5                     Ferrari Monza
6                Gordon Murray T.33
7                 Koenigsegg Gemera
8                       Zenvo TSR-S
9                Hennessey Venom F5
10                  Bentley Bacalar
11    Hispano Suiza Carmen Boulogne
12           Bentley Mulliner Batur
13                     Deus Vayanne
14                      SSC Tuatara
15                      Lotus Evija
16              Aston Martin Vulcan
17                       Delage D12
18                McLaren Speedtail
19                     Rimac Nevera
20                    Pagani Utopia
21             Pininfarina Battista
22                Ferrari FXX K Evo
23               Gordon Murray T.50
24             Lamborghini Countach
25         Mercedes-AMG Project One
26              Aston Martin Victor
27      Hennessey Venom F5 Roadster
28                 Koenigsegg Jesko
29            Aston Martin Valkyrie
30        W Motors Lykan Hypersport
31                    McLaren Solus
32        Pagani Huayra Roadster BC
33         Bugatti Chiron Pur Sport
34                 Lamborghini Sian
35                 Koenigsegg CC850
36  Bugatti Chiron Super Sport 300+
37               Lamborghini Veneno
38                   Bugatti Bolide
39                  Bugatti Mistral
40              Pagani Huayra Imola
41                     Bugatti Divo
42              SP Automotive Chaos
43                 Pagani Codalunga
44         Mercedes-Maybach Exelero
45               Bugatti Centodieci
46          Bugatti Chiron Profilée
47             Rolls-Royce Sweptail
48         Bugatti La Voiture Noire
49           Rolls-Royce Boat Tail*