### 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details: A) Rank
B) Name
C) Artist
D) Upload date E) Views

In [176]:
import requests
from bs4 import BeautifulSoup

url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"

response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

# Find the table by class name
table = soup.find("table", {"class": "wikitable sortable"})

if table is None:
    print("Table not found on the page.")
    exit()  # Terminate the program if the table is not found
    
ranks = []
names = []
artists = []
upload_dates = []
views = []

for row in table.find_all("tr")[1:]:
    columns = row.find_all("td")

    # Add error handling to handle missing columns
    try:
        rank = columns[0].text.strip()
        name = columns[1].text.strip()
        artist = columns[2].text.strip()
        upload_date = columns[4].text.strip()
        view_count = columns[3].text.strip()
    except IndexError:
        continue  # Skip the row if any column is missing

    ranks.append(rank)
    names.append(name)
    artists.append(artist)
    upload_dates.append(upload_date)
    views.append(view_count)

df=pd.DataFrame({"Rank":ranks,"Name":names,"Artist":artists,"Upload date":upload_dates,"Views":views})
df

,Rank,Name,Artist,Upload date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.85
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.16
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.70
3,4.,"""Bath Song""[15]",Cocomelon â€“ Nursery Rhymes,"May 2, 2018",6.20
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",6.00
5,6.,"""See You Again""[19]",Wiz Khalifa,"April 6, 2015",5.89
6,7.,"""Phonics Song with Two Words""[24]",ChuChu TV,"March 6, 2014",5.30
7,8.,"""Wheels on the Bus""[25]",Cocomelon â€“ Nursery Rhymes,"May 24, 2018",5.24
8,9.,"""Uptown Funk""[26]",Mark Ronson,"November 19, 2014",4.92
9,10.,"""Learning Colors â€“ Colorful Eggs on a Farm""[27]",Miroshka TV,"February 27, 2018",4.89
10,11.,"""Gangnam Style""[28]",Psy,"July 15, 2012",4.80
11,12.,"""Masha and the Bear â€“ Recipe for Disaster""[33]",Get Movies,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""[34]",El Chombo,"April 5, 2018",4.35
13,14.,"""Axel F""[35]",Crazy Frog,"June 16, 2009",3.91
14,15.,"""Sugar""[36]",Maroon 5,"January 14, 2015",3.87
15,16.,"""Roar""[37]",Katy Perry,"September 5, 2013",3.80
16,17.,"""Counting Stars""[38]",OneRepublic,"May 31, 2013",3.79
17,18.,"""Sorry""[39]",Justin Bieber,"October 22, 2015",3.66
18,19.,"""Baa Baa Black Sheep""[40]",Cocomelon â€“ Nursery Rhymes,"June 25, 2018",3.64
19,20.,"""Thinking Out Loud""[41]",Ed Sheeran,"October 7, 2014",3.60
20,21.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.59
21,22.,"""Dark Horse""[43]",Katy Perry,"February 20, 2014",3.52
22,23.,"""Lakdi Ki Kathi""[44]",Jingle Toons,"June 14, 2018",3.48
23,24.,"""Faded""[45]",Alan Walker,"December 3, 2015",3.45
24,25.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.45
25,26.,"""Let Her Go""[47]",Passenger,"July 25, 2012",3.44
26,27.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",3.42
27,28.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi â€“ Nursery Rhymes & Kids Songs,"January 26, 2018",3.41
28,29.,"""Lean On""[50]",Major Lazer,"March 22, 2015",3.38
29,30.,"""Bailando""[51]",Enrique Iglesias,"April 11, 2014",3.38

### 2. Scrape the details team Indiaâ€™s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [178]:

# Import all modules
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException

#Connecting to driver
driver=webdriver.Chrome(r"chromedriver.exe") 

# Navigate to website

driver.get("https://www.bcci.tv/")
time.sleep(3)


int_button=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a").click()
  
time.sleep(3)

In [179]:
# Scraping name from the given page
title=[]
series=[]
place=[]
dates=[]
time_note=[]

try:
    title_tags=driver.find_elements(By.XPATH,"//span[@class='matchOrderText ng-binding ng-scope']")
    for i in title_tags:
        title.append(i.text)
        
except NoSuchElementException:
    title.append('-')
        
print(len(title))

8

In [180]:
try:
    series_tags=driver.find_elements(By.XPATH,"//h5[@class='match-tournament-name ng-binding']")
    for i in series_tags:
        series.append(i.text)
        
except NoSuchElementException:
    series.append('-')
        
print(len(series))

8

In [181]:
try:
    place_tags=driver.find_elements(By.XPATH,"//span[@class='ng-binding ng-scope']")
    for i in place_tags:
        place.append(i.text)
        
except NoSuchElementException:
    place.append('-')
        
try:
    date_tags=driver.find_elements(By.XPATH,"//div[@class='match-dates ng-binding']")
    for i in date_tags:
        dates.append(i.text)
        
except NoSuchElementException:
    dates.append('-')
print(len(place),len(dates))

8 8

In [182]:
try:
    time_tags=driver.find_elements(By.XPATH,"//div[@class='match-time no-margin ng-binding']")
    for i in time_tags:
        time_note.append(i.text)
        
except NoSuchElementException:
    time_note.append('-')
print(len(time_note))

8

In [184]:
df=pd.DataFrame({"Match title":title,"Series":series,"Place":place,"Date":dates,"Time Note":time_note})
df

,Match title,Series,Place,Date,Time Note
0,1st Test -,INDIA TOUR OF WEST INDIES 2023,"Windsor Park,",12 JUL 2023,3:00 PM BST
1,2nd Test -,INDIA TOUR OF WEST INDIES 2023,"Queen's Park Oval,",20 JUL 2023,3:00 PM BST
2,1st ODI -,INDIA TOUR OF WEST INDIES 2023,"Kensington Oval,",27 JUL 2023,2:30 PM BST
3,2nd ODI -,INDIA TOUR OF WEST INDIES 2023,"Kensington Oval,",29 JUL 2023,2:30 PM BST
4,3rd ODI -,INDIA TOUR OF WEST INDIES 2023,"Brian Lara Stadium,",1 AUG 2023,2:30 PM BST
5,1st T20I -,INDIA TOUR OF WEST INDIES 2023,"Brian Lara Stadium,",3 AUG 2023,3:30 PM BST
6,2nd T20I -,INDIA TOUR OF WEST INDIES 2023,"National Stadium,",6 AUG 2023,3:30 PM BST
7,3rd T20I -,INDIA TOUR OF WEST INDIES 2023,"National Stadium,",8 AUG 2023,3:30 PM BST

### 3. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [248]:
# Import all modules
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException


#Connecting to driver
driver=webdriver.Chrome(r"chromedriver.exe") 

# Navigate to webpage
driver.get("http://statisticstimes.com/")
time.sleep(3)
try:
    cookies = driver.find_element(By.XPATH, "/html/body/div[1]/div/a").click()
except:
    pass

from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.by import By


# Click on the "Economy" link in the top menu
economy_link = driver.find_element(By.CSS_SELECTOR, "#top > div.navbar > div:nth-child(2) > button")
economy_link.click()

# Click on the "India" link in the left menu
india_link = driver.find_element(By.CSS_SELECTOR, "#top > div.navbar > div:nth-child(2) > div > a:nth-child(3)")
india_link.click()

time.sleep(3)

In [249]:

# Click on the "GDP of Indian states" link in the left menu
gdp_link = driver.find_element(By.CSS_SELECTOR, "body > div:nth-child(2) > div:nth-child(5) > div:nth-child(2) > ul > li:nth-child(1) > a")
gdp_link.click()
time.sleep(5)
try:
    agree = driver.find_element(By.XPATH, "/html/body/div[3]/div/div/div/div[2]/div/button[2]")
    agree.click()
except NoSuchElementException:
    pass

In [250]:
ranks=[]
states=[]
gsdp18_19=[]
gsdp19_20=[]
share_1819=[]
gdp_=[]

In [251]:
# Find the table containing the data
table = driver.find_element(By.ID, "table_id")

# Extract the data from the table
rows = table.find_elements(By.TAG_NAME, "tr")
for row in rows[1:]:
    cells = row.find_elements(By.TAG_NAME, "td")
    
    # Check if the cells list has enough elements
    if len(cells) >= 6:
        # Extract the data from the cells
        rank = cells[0].text
        state = cells[1].text
        gsdp1819 = cells[2].text
        gsdp1920 = cells[3].text
        share1819 = cells[4].text
        gdp = cells[5].text
    
        ranks.append(rank)
        states.append(state)
        gsdp18_19.append(gsdp1819)
        gsdp19_20.append(gsdp1920)
        share_1819.append(share1819)
        gdp_.append(gdp)
        
    else:
        print("Invalid number of cells")

Invalid number of cells

In [252]:
df=pd.DataFrame({"Rank":ranks,"State":states,"GSDP(18-19) at current prices":gsdp18_19,"GSDP(19-20) at current prices": gsdp19_20,"Share(18-19)": share_1819,"GDP":gdp_})
df

,Rank,State,GSDP(18-19) at current prices,GSDP(19-20) at current prices,Share(18-19),GDP
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-
33,,India,"20,351,013","18,886,957",,"2,869"

### 4. Scrape the details of trending repositories on Github.com. Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description C) Contributors count
D) Language used

In [311]:
# Import all modules
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException


#Connecting to driver
driver=webdriver.Chrome(r"chromedriver.exe") 

# Navigate to webpage
driver.get("https://github.com/")
time.sleep(3)

In [312]:

# Click on the "Open Source" link in the top menu
open_link = driver.find_element(By.CSS_SELECTOR, "body > div.logged-out.env-production.page-responsive.header-overlay.home-campaign > div.position-relative.js-header-wrapper > header > div > div.HeaderMenu--logged-out.p-responsive.height-fit.position-lg-relative.d-lg-flex.flex-column.flex-auto.pt-7.pb-4.top-0 > div > nav > ul > li:nth-child(3) > button")
open_link.click()

# Click on the "trending" link in the left menu
trending_link = driver.find_element(By.CSS_SELECTOR, "body > div.logged-out.env-production.page-responsive.header-overlay.home-campaign > div.position-relative.js-header-wrapper > header > div > div.HeaderMenu--logged-out.p-responsive.height-fit.position-lg-relative.d-lg-flex.flex-column.flex-auto.pt-7.pb-4.top-0 > div > nav > ul > li:nth-child(3) > div > div:nth-child(3) > ul > li:nth-child(2) > a")
trending_link.click()

time.sleep(3)

In [325]:

# Find all the repository cards on the page
repo_cards = driver.find_elements(By.XPATH, '//article[@class="Box-row"]')

# Initialize lists to store the data
titles = []
descriptions = []
contributors_counts = []
languages = []

# Iterate over each repository card and extract the details
for card in repo_cards:
    # Find the repository title
    title_element = card.find_element(By.XPATH,'.//h2[@class="h3 lh-condensed"]/a')
    title = title_element.text.strip()
    titles.append(title)

    # Find the repository description
    try:
        description_element = card.find_element(By.TAG_NAME, 'p')
        description = description_element.text.strip()
        descriptions.append(description)
    except NoSuchElementException:
        descriptions.append("Description not found.")

    # Find the contributors count
    try:
        contributors_element = card.find_element(By.XPATH, './/a[contains(@href, "/network/members")]')
        contributors = contributors_element.text.strip()
        contributors_counts.append(contributors)
    except NoSuchElementException:
        contributors_counts.append("Contributors count not found.")

    # Find the language used
    try:
        language_element = card.find_element(By.XPATH, './/span[@itemprop="programmingLanguage"]')
        language = language_element.text.strip()
        languages.append(language)
    except NoSuchElementException:
        languages.append("Language not found.")

# Create a dataframe from the extracted data
data = {
    "Title": titles,
    "Description": descriptions,
    "Contributors Count": contributors_counts,
    "Language": languages
}
df = pd.DataFrame(data)

# Print the dataframe
df

,Title,Description,Contributors Count,Language
0,Stability-AI / generative-models,Generative Models by Stability AI,Contributors count not found.,Python
1,sveltejs / svelte,Cybernetically enhanced web apps,Contributors count not found.,JavaScript
2,ykdojo / kaguya,A ChatGPT plugin that allows you to load and e...,Contributors count not found.,JavaScript
3,chat2db / Chat2DB,ðŸ”¥ ðŸ”¥ ðŸ”¥ An intelligent and versatile general-pur...,Contributors count not found.,Java
4,a16z-infra / ai-getting-started,A Javascript AI getting started stack for week...,Contributors count not found.,TypeScript
5,techleadhd / chatgpt-retrieval,Description not found.,Contributors count not found.,Python
6,prisma / prisma,Next-generation ORM for Node.js & TypeScript |...,Contributors count not found.,TypeScript
7,sindresorhus / awesome,ðŸ˜Ž Awesome lists about all kinds of interesting...,Contributors count not found.,Language not found.
8,scikit-learn / scikit-learn,scikit-learn: machine learning in Python,Contributors count not found.,Python
9,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,Contributors count not found.,Language not found.
10,refinedev / refine,"Build your React-based CRUD applications, with...",Contributors count not found.,TypeScript
11,google / googletest,GoogleTest - Google Testing and Mocking Framework,Contributors count not found.,C++
12,geohot / tinygrad,You like pytorch? You like micrograd? You love...,Contributors count not found.,Python
13,CASIA-IVA-Lab / FastSAM,Fast Segment Anything,Contributors count not found.,Python
14,unifyai / ivy,Unified AI,Contributors count not found.,Python
15,coollabsio / coolify,An open-source & self-hostable Heroku / Netlif...,Contributors count not found.,PHP
16,Linen-dev / linen.dev,Lightweight Google-searchable Slack alternativ...,Contributors count not found.,TypeScript
17,eslint / eslint,Find and fix problems in your JavaScript code.,Contributors count not found.,JavaScript
18,terraform-aws-modules / terraform-aws-eks,Terraform module to create an Elastic Kubernet...,Contributors count not found.,HCL
19,MustardChef / WSABuilds,Run Windows Subsystem For Android on your Wind...,Contributors count not found.,Shell
20,joamag / boytacean,A GB emulator that is written in Rust ðŸ¦€!,Contributors count not found.,Rust
21,angular / angular,The modern web developerâ€™s platform,Contributors count not found.,TypeScript
22,sveltejs / kit,"web development, streamlined",Contributors count not found.,JavaScript
23,ventoy / Ventoy,A new bootable USB solution.,Contributors count not found.,C
24,sebastianbergmann / phpunit,The PHP Unit Testing framework.,Contributors count not found.,PHP

### 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artistname
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [339]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time

# Set up the Chrome WebDriver
driver = webdriver.Chrome()

# Open the Billboard website
driver.get("https://www.billboard.com/")

time.sleep(3)
#Accept cookies
cookies = driver.find_element(By.XPATH,"/html/body/div[5]/div[2]/div/div/div[2]/div/div/button[2]").click()

# Click on the Charts option
charts_option = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, "/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a")))
charts_option.click()

# Click on the Hot 100 page link
hot_100_page_link = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, "//a[contains(@href, '/charts/hot-100')]")))
hot_100_page_link.click()

time.sleep(3)

# Find the song rows
song_rows = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]')

# Initialize lists to store the data
rank=[]
song_names = []
artist_names = []
last_week_ranks = []
peak_ranks = []
weeks_on_board_list = []

# Iterate over each song row and extract the details
for row in song_rows:
    
    ranking=row.find_element(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet']").text
    rank.append(ranking)
    # Extract the song name
    song_name = row.find_element(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']").text
    song_names.append(song_name)

    # Extract the artist name
    artist_name = row.find_element(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']").text
    artist_names.append(artist_name)

     # Extract the last week's rank
    last_week_rank = row.find_element(By.CLASS_NAME,"chart-element__metas__left").text
    last_week_ranks.append(last_week_rank)

    # Extract the peak rank
    peak_rank = row.find_element(By.CLASS_NAME,"chart-element__rank__number").text
    peak_ranks.append(peak_rank)

    # Extract the weeks on the board
    weeks_on_board = row.find_element(By.CLASS_NAME,"chart-element__metas__right").text
    weeks_on_board_list.append(weeks_on_board)
    
    

# Create a dataframe from the scraped data
data = {
    "Rank":rank,
    "Song": song_names,
    "Artist": artist_names,
    "Last Week's Rank": last_week_ranks,
    "Peak Rank": peak_ranks,
    "Weeks on Board": weeks_on_board_list
}
df = pd.DataFrame(data)

# Print the dataframe
print(df)

# Close the browser
driver.quit()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[5]/div[2]/div/div/div[2]/div/div/button[2]"}
  (Session info: chrome=114.0.5735.133)
Stacktrace:
0   chromedriver                        0x000000010d9ed6b8 chromedriver + 4937400
1   chromedriver                        0x000000010d9e4b73 chromedriver + 4901747
2   chromedriver                        0x000000010d5a2616 chromedriver + 435734
3   chromedriver                        0x000000010d5e5e0f chromedriver + 712207
4   chromedriver                        0x000000010d5e60a1 chromedriver + 712865
5   chromedriver                        0x000000010d6279a4 chromedriver + 981412
6   chromedriver                        0x000000010d60a03d chromedriver + 860221
7   chromedriver                        0x000000010d624e76 chromedriver + 970358
8   chromedriver                        0x000000010d609de3 chromedriver + 859619
9   chromedriver                        0x000000010d5d7d7f chromedriver + 654719
10  chromedriver                        0x000000010d5d90de chromedriver + 659678
11  chromedriver                        0x000000010d9a92ad chromedriver + 4657837
12  chromedriver                        0x000000010d9ae130 chromedriver + 4677936
13  chromedriver                        0x000000010d9b4def chromedriver + 4705775
14  chromedriver                        0x000000010d9af05a chromedriver + 4681818
15  chromedriver                        0x000000010d98192c chromedriver + 4495660
16  chromedriver                        0x000000010d9cc838 chromedriver + 4802616
17  chromedriver                        0x000000010d9cc9b7 chromedriver + 4802999
18  chromedriver                        0x000000010d9dd99f chromedriver + 4872607
19  libsystem_pthread.dylib             0x00007fff734c8109 _pthread_start + 148
20  libsystem_pthread.dylib             0x00007fff734c3b8b thread_start + 15

### 6. Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare
You have to find the following details:
A) Book name B) Author name C) Volumes sold D) Publisher
E) Genre

In [46]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time

# Set up the Chrome WebDriver
driver = webdriver.Chrome()

# Open the website
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
time.sleep(3)

In [47]:
book_name = []
author = []
volumes_sold = []
publisher = []
genre = []

# Find the table containing the data
table = driver.find_element(By.XPATH, '//table[@class="in-article sortable"]')

# Extract the data from the table
rows = table.find_elements(By.TAG_NAME, "tr")
for row in rows:
    cells = row.find_elements(By.TAG_NAME, "td")
    
    # Check if the cells list has enough elements
    if len(cells) >= 6:
        # Extract the data from the cells
        bookname = cells[1].text
        auth = cells[2].text
        volumes = cells[3].text
        publish = cells[4].text
        gen = cells[5].text
    
        book_name.append(bookname)
        author.append(auth)
        volumes_sold.append(volumes)
        publisher.append(publish)
        genre.append(gen)
        
    else:
        print("Invalid number of cells")

Invalid number of cells
Invalid number of cells

In [48]:
# Create a dataframe from the scraped data
data = {
    "Book Name": book_name,
    "Author": author,
    "Volumes sold": volumes_sold,
    "publisher": publish,
    "Genre": genre
}
df = pd.DataFrame(data)
df

,Book Name,Author,Volumes sold,publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Penguin,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Penguin,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Penguin,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Penguin,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Penguin,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Penguin,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Penguin,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Penguin,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### 7. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
You have to find the following details: A) Name
B) Year span
C) Genre
D) Run time E) Ratings F) Votes

In [33]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time

# Set up the Chrome WebDriver
driver = webdriver.Chrome()

# Open the website
driver.get("https://www.imdb.com/list/ls095964455/")

time.sleep(3)

In [34]:
rows = driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]')

name=[]
year=[]
genre=[]
run_time=[]
ratings=[]
votes=[]

for row in rows:
    name_element = row.find_element(By.XPATH,'.//h3[@class="lister-item-header"]')
    name.append(name_element.text)


    year_element = row.find_element(By.XPATH,'.//span[@class="lister-item-year text-muted unbold"]')
    year.append(year_element.text)


    genre_element = row.find_element(By.XPATH,'.//span[@class="genre"]')
    genre.append(genre_element.text)
    
    run_element = row.find_element(By.XPATH,'.//span[@class="runtime"]')
    run_time.append(run_element.text)
    
    rate_element = row.find_element(By.XPATH,'.//span[@class="ipl-rating-star__rating"]')
    ratings.append(rate_element.text)

    vote_element = row.find_element(By.XPATH,'.//span[@name="nv"]')
    votes.append(vote_element.text)

In [35]:
data = {
    "Name":name,
    "Year": year,
    "Genre": genre,
    "Run TIme": run_time,
    "Votes": votes
}
df = pd.DataFrame(data)
df

,Name,Year,Genre,Run TIme,Votes
0,1. Game of Thrones (2011â€“2019),(2011â€“2019),"Action, Adventure, Drama",57 min,"2,174,501"
1,2. Stranger Things (2016â€“2024),(2016â€“2024),"Drama, Fantasy, Horror",51 min,"1,252,254"
2,3. The Walking Dead (2010â€“2022),(2010â€“2022),"Drama, Horror, Thriller",44 min,"1,032,853"
3,4. 13 Reasons Why (2017â€“2020),(2017â€“2020),"Drama, Mystery, Thriller",60 min,"303,677"
4,5. The 100 (2014â€“2020),(2014â€“2020),"Drama, Mystery, Sci-Fi",43 min,"262,834"
...,...,...,...,...,...
95,96. Reign (2013â€“2017),(2013â€“2017),Drama,42 min,"51,982"
96,97. A Series of Unfortunate Events (2017â€“2019),(2017â€“2019),"Adventure, Comedy, Drama",50 min,"64,011"
97,98. Criminal Minds (2005â€“ ),(2005â€“ ),"Crime, Drama, Mystery",42 min,"208,605"
98,99. Scream: The TV Series (2015â€“2019),(2015â€“2019),"Comedy, Crime, Drama",45 min,"43,408"
99,100. The Haunting of Hill House (2018),(2018),"Drama, Horror, Mystery",572 min,"260,352"

### 8. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name B) Data type
C) Task
D) Attribute type E) No of instances F) No of attribute G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [95]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time

# Set up the Chrome WebDriver
driver = webdriver.Chrome()

# Open the website
driver.get("https://archive.ics.uci.edu/")

time.sleep(3)

dataset=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]").click()
  
time.sleep(3)
expand=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]").click()

In [96]:
rows = driver.find_elements(By.XPATH,'//div[@class="rounded-box bg-base-100"]')

name=[]
dtype=[]
atype=[]
task=[]
inst=[]
attr=[]
year=[]

for row in rows:
    name_element = row.find_element(By.XPATH,'.//h2[@class="truncate text-primary"]')
    name.append(name_element.text)

    parent_element = row.find_element(By.CLASS_NAME, "my-2.hidden.gap-4.md\\:grid.grid-cols-12")

    child_elements = parent_element.find_elements(By.TAG_NAME, "div")

    for i in range(4):
        dtype_element = child_elements[1].text
        task_element = child_elements[0].text
        inst_element = child_elements[2].text
        attr_element = child_elements[3].text
    
    attr.append(attr_element)
    inst.append(inst_element)
    dtype.append(dtype_element)
    task.append(task_element)

In [97]:
data = {
    "Name":name,
    "Data Type": dtype,
    "Task": task,
    "No. of instances":inst,
    "No. of attributes":attr,
    
}
df = pd.DataFrame(data)
df

,Name,Data Type,Task,No. of instances,No. of attributes
0,Iris,,Classification,Multivariate,
1,Heart Disease,,Classification,Multivariate,
2,Adult,,Classification,Multivariate,
3,Dry Bean Dataset,,Classification,Multivariate,
4,Diabetes,,,,
5,Rice (Cammeo and Osmancik),,Classification,Multivariate,
6,Wine,,Classification,Multivariate,
7,Car Evaluation,,Classification,Multivariate,
8,Breast Cancer Wisconsin (Diagnostic),,Classification,Multivariate,
9,Mushroom,,Classification,Multivariate,

### Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants You have to find the following details:
A) Name
B) Designation
C)Company
D)Skills they hire for E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [106]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time

# Set up the Chrome WebDriver
driver = webdriver.Chrome()

# Open the website
driver.get("https://www.naukri.com/hr-recruiters-consultants")

time.sleep(3)

#Accept cookies
cookies = driver.find_element(By.XPATH,"//html/body/div/div[4]/div[2]/div/button").click()

In [104]:
rows = driver.find_elements(By.XPATH,'//div[@class="rounded-box bg-base-100"]')

exp=[]
des=[]
skills=[]
location=[]
com=[]

for row in rows:
    exp_element = row.find_element(By.XPATH,'.//span[@class="ellipsis fleft expwdth"]')
    exp.append(exp_element.text)
    
    des_element = row.find_element(By.XPATH,'.//a[@class="title ellipsis"]')
    des.append(des_element.text)
    
    com_element = row.find_element(By.XPATH,'.//a[@class="subTitle ellipsis fleft"]')
    com.append(com_element.text)
    
    skills_element = row.find_element(By.XPATH,'.//ul[@class="tags has-description"]')
    skills.append(skills_element.text)
    
    location_element = row.find_element(By.XPATH,'.//span[@class="ellipsis fleft locWdth"]')
    location.append(location_element.text)

In [105]:
data = {
    "Designation":des,
    "Company":com,
    "Experience": exp,
    "Skills": skills,
    "Location":location
}
df = pd.DataFrame(data)
df

Empty DataFrame
Columns: [Designation, Company, Experience, Skills, Location]
Index: []